html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(330, 100%, 98%);
}

.img-container{
    width: 70%;
    max-width: 800px;
    background-color: hsl(0, 0%, 100%);
    margin: 130px 0px 0px 0px;
    padding: 40px 40px 0px 40px;
    border-radius: 20px 20px 0px 0px;
}

.container {
    width: 70%;
    max-width: 800px;
    background-color: hsl(0, 0%, 100%);
    margin: 0px 0px 130px 0px;
    padding: 40px;
    border-radius:0px 0px 20px 20px;
}

p, li{
    font-family: 'Outfit';
    font-weight: normal;
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.caption {
    font-family: 'Young Serif';
    font-weight: 400;
    text-align: left;
}

h2{
    margin: 20px 0px 0px 0px;
    color: hsl(14, 45%, 36%);
    font-weight: 800;
}

h3{
    margin: 0px;
    color: hsl(332, 51%, 32%);
}

.preparation{
    padding: 10px 0px 10px 30px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 15px;
}

.ingredients ul {
    margin-top: 0.1em;
}

.instructions li{
    margin-bottom: 15px;
    line-height: 1.5;
}

.preparation, .ingredients, .instructions, .nutrition{
    font-size: larger;
}

.preparation, .ingredients, .nutrition ul li{
    line-height: 2;
}

ul, ol {
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse; 
}
td {
    padding: 8px; 
    text-align: left;
}

tr {
    border-bottom: 1px solid #ddd;
}

.values{
    font-weight: 800;
    color: hsl(14, 45%, 36%);
}

.attribution {
    font-size: 0.9em;
    color: hsl(228, 45%, 44%);
    margin-top: 10px;
    cursor:default;
}

.attribution a {
    color: black;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 375px) {
    html, body {
        background-color: white;
        margin: 0; 
        padding: 0;
    }

    .img-container{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    img {
        border-radius: 0;
        margin-top: 0;
    }

    .container{
        width: auto;
        margin: 0;
    }

    .caption h1, p{
        margin-top: 0;
    }

    .preparation h3{
        display: inline;
        padding: 0;
    }

    .preparation ul{
        margin: 0;
    }

    .preparation ul li{
        line-height: 2;
        padding: 0;
    }

    .ingredients h2{
        display: inline;
        padding: 0;
        margin: 0;
    }

    .ingredients ul{
        margin: 0;
    }

    .ingredients ul li{
        padding: 0;
    }

    .instructions h2{
        padding: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .instructions{
        display: inline;
    }

    .instructions ol{
        margin: 0;
    }

    .instructions ol li{
        padding:0;
    }

    .nutrition h2{
        display: inline;
        margin: 0;
        padding: 0;
    }

    p, li, h2, h3, .preparation, .ingredients, .instructions, .nutrition {
        width: 100%; 
        padding: 10px; 
        box-sizing: border-box;
    }
}
